:root {
  --background: #e8dec4;
  --dark-text: #21201e;
  --secondary-text: rgba(33, 32, 30, 0.7);
  --btn-bg: rgba(33, 32, 30, 0.3);
  --btn-bg-hover: rgba(33, 32, 30, 0.7);
  --light: #fff;
  --light-bg: rgba(255, 255, 255, 0.5);
  --light-bg-hover: rgba(255, 255, 255, 0.8);
  --accent-yellow: #dda71d;
  --accent-red: #dd1d1d;
  --accent-purple: #dd1da7;
  --accent-rose: #dd1d79;
}

*::selection {
  color: var(--light);
  background-color: var(--accent-yellow);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
}

.container {
  width: 1264px;
  padding: 0 20px;
  outline: 3px dashed darkblue;
  margin: 0 auto;
}

.header {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.header .container {
  display: flex;
  gap: 178px;
  align-items: center;
}

.header-logo {
}

.header-icon {
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-item {
  position: relative;
}

.header-link {
  color: var(--dark-text);
  font-size: 24px;
  transition: color 0.4s;
  font-weight: 500;
}

.header-item:nth-child(1):hover .header-link {
  color: var(--accent-yellow);
}

.header-item:nth-child(2):hover .header-link {
  color: var(--accent-red);
}

.header-item:nth-child(3):hover .header-link {
  color: var(--accent-purple);
}

.header-item:nth-child(4):hover .header-link {
  color: var(--accent-rose);
}

.header-item:nth-child(5):hover .header-link {
  color: var(--accent-yellow);
}

.header-sublist {
  position: absolute;
  top: 56px;
  left: 0;
  width: 234px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.4s;
  background-color: var(--background);
  padding: 8px;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.header-item:nth-child(5):hover .header-sublist {
  opacity: 1;
}

.header-subitem {
}

.header-sublink {
  color: var(--secondary-text);
  font-size: 24px;
  display: block;
  overflow-wrap: break-word;
  transition: color 0.4s;
  font-weight: 500;
}

.header-sublink:hover {
  color: var(--dark-text);
}

.hero {
  padding: 165px 0 164px;
  background-image: url(../svg/hero-bg.svg);
  background-size: auto;
  background-position: center bottom;
  background-repeat: repeat-x;
}

.hero-title {
  color: var(--dark-text, #21201e);
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 577px;
  font-weight: 500;
}

.hero-desc {
  color: var(--light);
  font-size: 28px;
  margin-top: 12px;
  margin-bottom: 48px;
  font-weight: 500;
}

.hero-btn {
  padding: 16px 57px;
  position: relative;
  background-color: var(--btn-bg);
  transition: background-color 0.4s;
}

.hero-btn:hover {
  background-color: var(--btn-bg-hover);
}

.hero-text {
  color: var(--light);
  font-size: 28px;
  font-weight: 500;
}

.hero-icon {
  position: absolute;
  right: 4px;
  bottom: -7px;
  transition: transform 0.4s;
}

.hero-btn:hover .hero-icon {
  transform: scale(1.23) rotate(360deg);
}

.categories {
  padding: 120px 0 60px;
}

.categories-title {
  color: var(--dark-text);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 84px;
}

.categories-item {
}

.categories-link {
  position: relative;
  overflow: hidden;
  width: 184px;
  height: 209px;
  display: block;
}

.categories-icon {
  display: block;
}

.categories-caption {
  position: absolute;
  bottom: -58px;
  width: 100%;
  left: 0;
  padding: 0 auto;
  width: 184px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-bg);
  backdrop-filter: blur(3px);
  transition: transform 0.4s;
}

.categories-link:hover .categories-caption {
  transform: translate(0, -100%);
}

.categories-subtitle {
  color: var(--light);
  font-size: 28px;
  font-weight: 500;
}

.advans {
  padding: 60px 0;
}

.advans-title {
  color: var(--dark-text);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.advans-list {
  display: flex;
  gap: 24px;
}

.advans-item {
  background-color: var(--light-bg);
  width: 288px;
  padding: 28px 24px;
  position: relative;
  transition: transform 0.4s, background-color 0.4s;
  z-index: 1;
}

.advans-item:hover {
  background-color: var(--light-bg-hover);
  transform: scale(1.05);
  z-index: 2;
}

.advans-subtitle {
  color: var(--dark-text);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 12px;
}

.advans-desc {
  color: var(--secondary-text);
  font-size: 22px;
  font-weight: 500;
}

.advans-icon {
  position: absolute;
  top: -18px;
  right: -18px;
}

.about {
  padding: 60px 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-wrap {
  width: 600px;
}

.about-title {
  color: var(--dark-text);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}

.about-desc {
  color: var(--secondary-text);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
}

.about-link {
  display: block;
  padding: 16px 57px;
  background: var(--btn-bg);
  width: max-content;
  position: relative;
  transition: background-color 0.4s;
}

.about-link:hover {
  background-color: var(--btn-bg-hover);
}

.about-text {
  color: var(--light);
  font-size: 28px;
  font-weight: 500;
}

.about-flower {
  position: absolute;
  right: 4px;
  bottom: -7px;
  transition: transform 0.4s;
}

.about-link:hover .about-flower {
  transform: scale(1.23) rotate(360deg);
}

.about-icon {
}

.reviews {
  padding: 60px 0;
}

.reviews-title {
  color: var(--dark-text);
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
}

.reviews-list {
  display: flex;
  justify-content: space-between;
}

.reviews-item {
  background-color: var(--light-bg);
  width: 392px;
  padding: 44px 48px;
  transition: background-color 0.4s, transform 0.4s;
}

.reviews-item:hover {
  background-color: var(--light-bg-hover);
  transform: scale(1.05);
}

.reviews-wrap {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 16px;
}

.reviews-img {
  border-radius: 50%;
}

.reviews-text {
}

.reviews-subtitle {
  color: var(--dark-text);
  font-size: 28px;
  font-weight: 500;
}

.reviews-time {
  color: var(--secondary-text);
  font-size: 16px;
  font-weight: 500;
}

.reviews-flowers {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}

.reviews-flower {
}

.reviews-icon {
}

.reviews-desc {
  color: var(--secondary-text);
  font-size: 28px;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: rgba(232, 222, 196, 0.56);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background: var(--background);
  box-shadow: 0px 11px 214.4px 24px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 664px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 44px 24px;
}

.modal-form {
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 24px;
  background-color: transparent;
}

.modal-dagger {
  stroke: var(--btn-bg);
  transition: stroke 0.4s;
}

.modal-dagger:hover {
  stroke: var(--btn-bg-hover);
}

.modal-title {
  color: var(--dark-text);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 52px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-item {
}

.modal-label {
  display: block;
  color: var(--dark-text);
  font-size: 26px;
  font-weight: 500;
}

.modal-input {
  display: block;
  margin-top: 8px;
  color: var(--dark-text);
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  height: 56px;
  padding: 14.5px 32px;
  background-color: var(--light-bg);
  transition: background-color 0.4s;
}

.modal-input:hover,
.modal-input:focus {
  background-color: var(--light-bg-hover);
}

.modal-input::placeholder {
  color: var(--secondary-text);
}

.modal-btn {
  display: block;
  padding: 16px 57px;
  background: var(--btn-bg);
  width: max-content;
  position: relative;
  transition: background-color 0.4s;
  margin: 0 auto;
  margin-top: 44px;
}

.modal-btn:hover {
  background-color: var(--btn-bg-hover);
}

.modal-text {
  color: var(--light);
  font-size: 28px;
  font-weight: 500;
}

.modal-icon {
  position: absolute;
  right: 4px;
  bottom: -7px;
  transition: transform 0.4s;
}

.modal-btn:hover .modal-icon {
  transform: scale(1.23) rotate(360deg);
}
